<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
    员工任务表
    *************
    与任务表一对一级联
-->

<mapper namespace="com.ssm.chapter5.mapper.EmployeeTaskMapper">
    <resultMap id="EmployeeTaskMap" type="com.ssm.chapter5.pojo.EmployeeTask">
        <id column="emp_id" property="empId" />
        <result column="task_name" property="taskName" />
        <result column="note" property="note" />
        <!--
         association 一对一级联的开始，property 属性代表映射到 POJO 属性上，
         select 配置是命名空间+SQL id 的形式，这样可以指向对应 Mapper 的 SQL
         MyBatis 会通过对应的 SQL 将数据查询回来，
         column 代表 SQL 的列，用作参数传递给 select 属性指定的 SQL, 多个参数需要用逗号隔开
         -->
        <association property="task" column="task_id"
                     select="com.ssm.chapter5.mapper.TaskMapper.getTask" />
    </resultMap>

    <select id="getEmployeeTaskByEmpId" resultMap="EmployeeTaskMap" parameterType="long">
        select id, emp_id, task_name, task_id, note from t_employee_task
        where emp_id = #{empId}
    </select>
</mapper>